@use "../../modules/scss-modules/media-queries/media-queries";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    body {
        margin-top: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.8rem;

        @include media-queries.screen-min(media-queries.$screen-md){
            margin: 5% auto;
            width: 60vw;
        }

        header {
            margin-right: 1rem;

            @include media-queries.screen-min(media-queries.$screen-md){
                margin: 0rem;
            }
            
            h1 {
                font-size: 1.3rem;
                text-align: right;
            }
        }

        main {
            background-color: rgb(186, 20, 212);

            #game, #result {
                padding: 0.5rem;

                .key {
                    font-weight: bold;
                }
            }

            #game span {
                display: inline-block;

                @include media-queries.screen-min(media-queries.$screen-md){
                    display: inline;
                    padding: 1rem;
                }
            }

            #cardsUser, #cardsComputer {
                padding: 1rem;
                display: flex;
                flex-flow: row;
                flex-wrap:  nowrap;
                gap: 0.5rem;
                justify-content: center;
                background-color: rgb(202, 14, 231);

                .card {
                    padding-top: 0.7rem;
                    display: inline-block;
                    font-size: 2rem;
                    height: 4rem;
                    width: 3rem;

                    @include media-queries.screen-min(media-queries.$screen-md){
                        font-size: 3rem;
                        height: 5rem;
                        width: 4rem;
                    }

                    text-align: center;
                    border: 1px solid #000000;
                    border-radius: 15px;
                    background-color: gray;
                    box-shadow: 2px 2px 20px 2px #000000;
                }
            }

            #result {
                text-align: center;
            }

            .greenBackgroundColor {
                background-color: #008000;
            }

            .orangeBackgroundColor {
                background-color: #ffa500;
            }

            .redBackgroundColor {
                background-color: #ff0000;
            }
        }
    }
}