@use "../../modules/scss-modules/media-queries/media-queries";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    body { 
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        @include media-queries.screen-min(media-queries.$screen-lg){
            margin-inline: auto;
            width: 60vw;
        }

        header {
            h1 {
                font-size: 1.3rem;
                text-align: center;
            }
        }

        main {
            img {
                width: 100%;
                max-height: 50vh;
            }

            figcaption {
                padding-left: 0.5rem;
                font-size: 0.5rem;
            }

            #container {
                margin-top: 1.7rem;
                margin-inline: auto;
                width: 80%;
                text-align: center;

                #lblGuess {
                    font-size: 0.8rem;
                }

                #result {
                    margin-block: 1.7rem;
                    padding: 0.2rem;
                    border: 1px solid #000000;
                    background-color: #ffa500;
                }

            }
        }
    }
}