@use "../../modules/scss-modules/media-queries/media-queries";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        @include media-queries.screen-min(media-queries.$screen-md){
            margin: 25% auto;
            width: 70vw;
        }

        @include media-queries.screen-min(media-queries.$screen-lg){
            margin: 25% auto;
            width: 60vw;
        }

        header {
            margin-top: 1rem;
            margin-right: 1rem;
            
            h1 {
                font-size: 1.3rem;
                text-align: right;

                span {
                    display: block;

                    @include media-queries.screen-min(media-queries.$screen-md){
                        display: inline;
                    }
                }
            }
        }

        main {
            margin-block: 1rem;
            background-color: rgb(186, 20, 212);

            #game, #result {
                padding: 1rem;

                .key {
                    font-weight: bold;
                }
            }

            #game span {
                display: inline-block;

                @include media-queries.screen-min(media-queries.$screen-md){
                    display: inline;
                }
            }

            #choices {
                font-size: 4rem;

                @include media-queries.screen-min(media-queries.$screen-md){
                    font-size: 5rem;
                }

                @include media-queries.screen-min(media-queries.$screen-lg){
                    font-size: 7rem;
                }

                @include media-queries.screen-min(media-queries.$screen-xl){
                    font-size: 8rem;
                }

                text-align: center;
                background-color: rgb(202, 14, 231);
            }

            #result {
                text-align: center;
            }

            .greenBackgroundColor {
                background-color: #008000;
            }

            .orangeBackgroundColor {
                background-color: #ffa500;
            }

            .redBackgroundColor {
                background-color: #ff0000;
            }
        }
    }
}